@font-face {
  font-family: '851チカラヅヨク';
  src: url('/assets/fonts/851チカラヅヨク/851CHIKARA-DZUYOKU_kanaA_004.ttf') format('.ttf');
}

@font-face {
  font-family: 'homura';
  src: url('/assets/fonts/homura/03HomuraM-SemiLight.otf') format('.otf');
}

@font-face {
  font-family: '瀬戸フォントSP_sjis版';
  src: url('/assets/fonts/sjis_sp_setofont/sjis_sp_setofont.ttf') format('.ttf');
}

@font-face {
  font-family: 'SourceHanSansJP';
  src: url('/assets/fonts/SourceHanSansJP/SourceHanSansJP-Medium.otf') format('.otf');
}

@font-face {
  font-family: 'SourceHanSerifJP';
  src: url('/assets/fonts/SourceHanSerifJP/SourceHanSerifJP-Medium.otf') format('.otf');
}

@font-face {
  font-family: 'Yusei_Magic';
  src: url('/assets/fonts/Yusei_Magic/YuseiMagic-Regular.ttf') format('.ttf');
}
